<?xml version="1.0"?>

<launch>

    <include file="$(find durable_gazebo_simulation)/launch/durable_sim.launch"> </include>

    <include file="$(find durable_gazebo_simulation)/launch/spawn_mavros_instance.launch"> </include>

    <include file="$(find aruco_detect)/launch/aruco_detect.launch"> </include>

    <group>
       <node pkg="tf" type="static_transform_publisher" name="marker946_broadcaster" args="0 -0.10345 0 0 0 0 fiducial_946 fiducial_T_946 10"/>

       <node pkg="tf" type="static_transform_publisher" name="marker227_broadcaster" args="0.0735 0.1053 0 0 0 0 fiducial_227 fiducial_T_227 10"/>

       <node pkg="tf" type="static_transform_publisher" name="marker168_broadcaster" args="-0.0738 0.1367 0 0 0 0 fiducial_168 fiducial_T_168 10"/>

       <node pkg="tf" type="static_transform_publisher" name="marker55_broadcaster" args="-0.06175 0.06175 0 0 0 0 fiducial_55 fiducial_T_55 10"/>

       <node pkg="tf" type="static_transform_publisher" name="cam_broadcaster" args="0 0 0.070 0 0 0 base_link iris_demo::cam_link 10"/>

    </group> 

</launch>
